// @function rem: executa a conversão de pixel para rem. Uma boa prática de medida CSS.
// Também podemos abstraí-lo para um arquivo _mixins/_functions e usar módulos sass para @forward.
@function rem($pixels, $context: 16) {
  @return #{$pixels/$context}rem;
}

// $colorMap: Aqui criamos uma função de mapeamento de todas as variações e grupos de cores.
// Será usado para gerar classes para cores dinamicamente pelo color-modifiermixin.
$colorMap: (
  default: (
    text: rgb(63, 63, 63),
    base: #E0E0E0,
    light: rgb(122, 120, 120),
    dark: rgb(63, 63, 63),
  ),
  primary: (
    text: #fff,
    base: #cc3656,
    light: #d84f6d,
    dark: #9b344a,
  ),
  secondary: (
    text: #fff,
    base: #455A64,
    light: #239232,
    dark: #455A64,
  ),
  danger: (
    text: #fff,
    base: #D32F2F,
    light: #d84f6d,
    dark: #9b344a,
  ),
);

// @mixin color-modifier: Este mixin nos ajuda a criar uma classe para cada conjunto de regras no grupo de cores de $colorMap.
// Ele usa o @eachfrom sass para executar iterações sobre a função de mapeamento.
@mixin color-modifiers() {
  @each $color-group, $ruleset in $colorMap {
    &--#{$color-group} {
      color: map-get($ruleset, text);
      background-color: map-get($ruleset, base);
      border-color: map-get($ruleset, dark);
      background: map-get($ruleset, base);
    }
  }
}

.custom-button {
  border: none;
  border-radius: rem(5.5);
  font-size: rem(14);
  line-height: rem(15);
  cursor: pointer;

  height: rem(40);
  padding: rem(6) rem(12);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &wrapper {
    display: flex;
    align-items: center;

    &__icon-left {
      flex-direction: row-reverse;

      img {
        margin: 0 rem(5) 0 0;

      }
    }
    img {
      width: rem(14);
      height: rem(14);
      margin-left: rem(5);
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--outline {
    background: transparent;
    color: #999;
    border: 1px solid rgb(61, 90, 254);
  }

  @include color-modifiers();
}
.custom-button--default:hover{
  background: #AEAEAE;;
}
.custom-button--secondary:hover{
  background:  #1C313A;
}
.custom-button--primary:hover{
  background:  #910b3e;
}
.custom-button--danger:hover{
  background:  #9A0007;
}

